<%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill) : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier')) %>
<h1><%= @user.nickname %></h1>
<p>Email : <%= @user.email %></p>
<%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-flat" %>
