.article {
  background: linear-gradient(#4182c8, #757dd7);
  text-align: center;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 24px;
  display: inline-flex;
  color: white;
  border-radius: 5px;
}
.article-photo {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.article img {
  height: 100%;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.article p {
  margin: 20px;
  background: rgba(255, 255, 255, .06);
}

.card-trip {
  cursor: pointer;
  border-top-left-radius: 98px;
  border-top-right-radius: 98px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.display {
  box-shadow: rgba(0, 255, 17, 0.2) 0px 0px 36px 3px, rgba(0, 255, 17, 0.06) 0px 0px 0px 2px;
  background: white;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  display: none;
}

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.card-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-article h2 {
  position: absolute;
  font-size: 35px;
  background: rgba(28, 87, 148, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 5px;
  color: white
}

.click-me {
  border-radius: 20px;
  opacity: 0.6;
  font-size: 17px;
}
.click-me:hover {
  opacity: 1;
}

.article-content {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
}

.article-content p {
  font-size: 20px;
  color: black;
}
