// Specific CSS for your home-page
.collection {
  // border: 1px solid red;
  height: 100%;
  background: white;
  border-radius: 4px;
}

.collection p {
 font-size: 25px;
 text-align: left;
 margin: 15px;
 background-color: #008952c1;
 color: white;
 border-radius: 5px;
}

.collection .number {
background: #f9d500;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
}

.edit-user {
  padding-top: 25px;
  font-weight: bold;
  font-size: 50px;
  color: #008952;
}
