<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <div>
          <%= user.nickname %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), data: { "turbo-method": :post } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


