<% if notice %>
  <div class="alert alert-info alert-dismissible fade show mx-auto fs-2 text-center-white" style="width: 800px; height: 120px;" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show mx-auto fs-2 text-center-white" style="width: 800px; height: 120px;" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>
