<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram bold"></i></a>
    <a href="#"><i class="fab fa-facebook bold"></i></a>
    <a href="#"><i class="fab fa-twitter bold"></i></a>
    <a href="#"><i class="fab fa-linkedin bold"></i></a>
  </div>
  <div class="footer-copyright">
    Be positive * Every day good <i class="fas fa-heart"></i> with Spe@kItOut
  </div>
</div>
