<div>
  <% @posts.each do |post| %>
    <div class="post post-item">
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </div>
  <% end %>
  <div class="pagination" id="bottom">
    <%= will_paginate @users, :container => false, :params => {:anchor => "bottom"} %>
  </div>
</div>
