<%= render "shared/slide" %>

<div class="container d-flex justify-content-between text-center">
  <div>
    <%= render "shared/category" %>
  </div>

  <div class="flex-grow-1 my-1">
    <%= render "shared/post" %>
  </div>

  <div>
    <h1>Top 5 collection</h1>
    <h3>1 collection</h3>
    <h3>2 collection</h3>
    <h3>3 collection</h3>
    <h3>4 collection</h3>
    <h3>5 collection</h3>
  </div>
</div>
