<%= render "shared/slide" %>

<div class="container home d-flex justify-content-between">
  <div>
    <%= render "shared/category" %>
  </div>

  <%# Middle Posts %>
  <div class="container vh-100 flex-grow-1 my-3">

    <div class="pagination" id="bottom">
      <%= will_paginate @posts, :container => false, :params => {:anchor => "bottom"} %>
    </div>
  </div>

  <div class="collection mt-3 mx-1 text-center">
    <h2>Top 5 collection</h2>
    <h3>1 collection</h3>
    <h3>2 collection</h3>
    <h3>3 collection</h3>
    <h3>4 collection</h3>
    <h3>5 collection</h3>
  </div>

</div>
