<%= simple_form_for(@post) do |f| %>
  <div class="container">
    <div class="box">
    <%= f.input :title, placeholder: "Enter the title" %>
    <%= f.input :content, placeholder: "Content" %>
    <%= f.submit value: "Post", class: "btn btn-primary p-4" %>
    </div>
  </div>
<% end %>
