<div class="container">
  <div class="box">
    <h5> title: <%= @post.title %> </h5>
    </br>
    </br>
    <p>content: <%= @post.content %></p>
    </br>
    </br>
    <h5>username: <%= @post.user.nickname %></h5>
  </div>
</div>
