.item {
  background: #333;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.carousel img {
  display: inline-block;
  height: 550px;
  object-fit: cover;
}

.carousel-caption {
  border-radius: 6px;
  bottom: 34%;
  padding: 40px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.carousel-caption h5 {
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 20px;
  color: white;
}
