.item {
  background: #333;
  text-align: center;
}

.carousel img {
  display: inline-block;
  height: 300px;
}

.carousel-caption {
  border-radius: 5px;
  bottom: 85px;
  padding: 40px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
