.item {
  background: #333;
  text-align: center;
}

h2 {
  margin: 0;
  color: #888;
  padding-top: 80px;
  font-size: 30px;
}

.carousel img {
  display: inline-block;
  height: 300px;
}

.carousel-caption {
  background-color: rgba(55, 55, 55, 0.1);
  border-radius: 4px;
  bottom: 70px;
  padding: 40px;
}
