.category-container {
  // border: 1px solid red;
  padding: 18px 18px;
  font-weight: bold;
}

.post-category {
  background: #008952;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
  // font-weight: 600;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
