.navbar {
  position: sticky;
  top: 0;
  z-index: 11;
}

.navbar-lewagon {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  justify-content: space-between;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin: 0px 35px 0px 30px;
}

.navbar-lewagon .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 15px;
  }
}

.message {
  font-size: 20px;
  margin-right: 20px;
}

.nav-link i {
  font-size: 20px;
  color: #008952
}

.nav-link i:hover {
  color: #44eeaa;
  transform: scale(1.2);
}

.dropdown-item {
  justify-content: center;
  display: flex;
  font-weight: bold;
  color: #008952 !important;
}

.dropdown-menu-end {
  right: auto !important;
}

.notification {
  font-size: 10px !important;
  left: 85% !important;
  z-index: 10;
}

/* Add this attribute to the element that needs a tooltip */
// [data-tooltip] {
//   position: relative;
//   z-index: 2;
//   cursor: pointer;
//   width: initial;
// }

// /* Hide the tooltip content by default */
// [data-tooltip]:before,
// [data-tooltip]:after {
//   visibility: hidden;
//   pointer-events: none;
// }

// // /* Position tooltip above the element */
// [data-tooltip]:before {
//   position: absolute;
//   bottom: 110%;
//   left: 276%;
//   margin-bottom: -54px;
//   margin-left: -75px;
//   padding: 3px 5px;
//   width: 70px;
//   background-color: #008952;
//   color: #fff;
//   content: attr(data-tooltip);
//   text-align: center;
//   font-size: 14px;
//   line-height: 1.2;
//   border-radius: 5px;
// }

// /* Triangle hack to make tooltip look like a speech bubble */
// [data-tooltip]:after {
//   position: absolute;
//   bottom: 110%;
//   left: 50%;
//   margin-left: -7px;
//   margin-bottom: -31px;
//   width: 0;
//   border-top: 7px solid #008952;
//   border-right: 7px solid transparent;
//   border-left: 7px solid transparent;
//   content: " ";
//   font-size: 0;
//   line-height: 0;
// }

// // /* Show tooltip content on hover */
// [data-tooltip]:hover:before,
// [data-tooltip]:hover:after {
//   visibility: visible;
//   bottom: 90%;
// }
