.navbar {
  position: sticky;
  top: 0;
  z-index: 4;
}

.navbar-lewagon {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  justify-content: space-between;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin: 0px 0px 0px 20px;
}

.navbar-lewagon .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 15px;
  }
}

.message {
  font-size: 20px;
  margin-right: 20px;
}

.avatar {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.nav-link i {
  font-size: 20px;
  color: #008952
}

.nav-link i:hover {
  color: #44eeaa;
}
