// Post items
.post-item {
	border: 1px solid #EEE;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.post-item h3 {
	color: #FF7182;
	margin: 0 0 5px;
}

.post-item p {
	margin: 0;
}


// Pagination
.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, .6);
}

.pagination a, em {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #008952;

  margin: 5px;
  transition: 0.4s;

  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

// .pagniation button:hover {
//   background-color: #44eeaa;
// }

.pagination em.current {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  font-style: normal;
}

.pagination a:hover:not(.current) {
  background-color: #44eeaa;
  color: rgba(255, 255, 255, 1);
}

.gap {
  color: #008952;
  font-size: 22px;
}

// hide next & previous button
.pagination .next_page {
  display: none;
}

.pagination .previous_page {
  display: none;
}
