// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin-top: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px;
  border-color: rgb(205, 205, 209);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f1f1ed;
  padding: 12px;

 }
